# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.DS_Store
.idea
.vscode
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Model Checkpoints and Output
out/
*.pt

# Data files (binaries and large text)
*.bin
*.pkl
input.txt

# Logs
*.log