# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*\.class

# IDEs
.DS_Store
.idea
.vscode
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Model Checkpoints and Output
out/
out-*/
*.pt

# Data files (binaries and large text)
*.bin
*.pkl

# Allow our specific agent dataset source
!data/agent/input.txt

# Logs
*.log
